:root {
    color: #FFA93D;
    font-size: 120px;
    -unity-text-align: middle-center;
}

Label {
    margin: 0;
    padding: 0;
}

#Stop, #Route {
    display: none;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Type {
    background-color: rgba(50, 50, 50, 0.5);
    padding: 0 3px;
}

#Arrow {
    margin: 0 3px;
}

.stop #Stop, .route #Route {
    display: flex;
}