Button {
    width: 400px;
    height: 60px;
    margin: 10px 0 0 0;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.71);
    border-width: 0;
    -unity-text-align: middle-left;
    -unity-font-definition: var(--tektur-regular);
}

Button:hover {
    background-color: rgba(20, 20, 20, 0.71);
}

Button:active {
    background-color: rgba(50, 50, 50, 0.71);
}