.map-item {
    position: absolute;
    translate: -50% -50%;
    -unity-font-definition: url("project://database/Assets/Fonts/Oxanium/Oxanium-Medium.ttf?fileID=12800000&guid=81fe662057ad55e42b1c7908725ecfd8&type=3#Oxanium-Medium");
}