:root {
    -unity-font-definition: var(--quantico-regular);
}

.bold {
    -unity-font-definition: var(--quantico-bold);
}

ListView {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 350px;
}

ListView Label {
    font-size: 25px;
}