.unity-list-view__item:checked {
    background-color: rgba(255, 255, 0, 0.24);
}

.unity-list-view__item.succeeded {
    background-color: rgba(0, 255, 0, 0.24);
}

.unity-list-view__item.failed {
    background-color: rgba(255, 0, 0, 0.24);
}

.unity-progress-bar__background {
    border-width: 2px;
    background-color: transparent;
}

.unity-progress-bar__progress {
    background-color: #58f;
}