Label {
    color: white;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Fonts/Quantico/Quantico-Regular.ttf?fileID=12800000&guid=9cfc60d7905de7a40a3d518974a0bb61&type=3#Quantico-Regular");
}

Label.bold {
    -unity-font-definition: url("project://database/Assets/Fonts/Quantico/Quantico-Bold.ttf?fileID=12800000&guid=a58dd36e968a4f447b338ac407451736&type=3#Quantico-Bold");
}