#Stops .unity-list-view__item:hover {
    background-color: transparent;
}

#Routes .unity-list-view__item:hover {
    background-color: #335;
}

#Routes .unity-list-view__item:checked {
    background-color: #33e;
}