:root {
    -unity-font-definition: var(--tektur-regular);
}

.bold {
    -unity-font-definition: var(--tektur-bold);
}

ListView Label {
    font-size: 20px;
    white-space: normal;
}

ListView .indent Label {
    font-size: 16px;
    padding-left: 32px;
}

.separator {
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.passthrough #Station {
    color: #aaa;
}

.conditional #Station {
    color: yellow;
}