#Container, .row {
    flex-direction: row;
}

#Container {
    flex-grow: 1;
    font-size: 48px;
}

#Dock {
    font-size: 150px;
    width: 200px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}

#Action {
    min-width: 200px;
}

#Time {
    min-width: 150px;
}

#Station {
    flex-grow: 1;
    font-size: 60px;
    -unity-text-align: middle-left;
}