:root {
    font-size: 80px;
}

Label {
    margin: 0;
    padding: 0;
}

#Container, #Stops {
    flex-grow: 1;
}

.row {
    flex-direction: row;
}

#Dock {
    font-size: 512px;
    padding: 120px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

#Station {
    font-size: 100px;
}

#Action {
    margin: 0 30px;
}