:root {
    font-size: 80px;
}

#Container, #Stops {
    flex-grow: 1;
}

.row {
    flex-direction: row;
}

#Dock {
    font-size: 512px;
    padding: 120px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

#Station {
    font-size: 100px;
}

.departure #Container {
    background-color: #337ab8;
}

.arrival #Container {
    background-color: #1c8e1c;
}